body{
   background:url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRi1edZBy4Q9iZOoB8___aCPrnf_Cn_wv986vQjY-SnWMzt6IuobQ);
background-size:100% 100%;
background-repeat:no-repeat; 
}
.see{
-webkit-column-count: 3; 
-webkit-column-rule: 2px solid #c00;
-webkit-column-gap: 2em;
}
h3{
    text-align:left;
    font-size:14px;
    margin: 0px;
    display: inline-block;
}
h8{
    text-align:center;
    font-size:14px;
}

@font-face
{
font-family: Nobile-Medium;
src: url(Nobile-Medium.ttf);
font-weight:bold;
font-stretch:expanded;
}

div
{
font-family:Nobile-Medium;
}

@-webkit-keyframes slidein {
 from {
  margin-left: 10%;
  width: 300%; 
 }
 to {
   margin-left: 80%;
    width: 100%;
 }
}

h1 {
  margin: 0px;
  -webkit-animation-name: slidein;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}
.border{
border:2px solid;
border-radius:25px;
}
#c {
width: 420px;
height: 235px;
position: absolute;
}